/* UNIVERSAL SELECTORS */
:root{
    --Text1: "Rubik", serif; /*Para titulos*/
    --Text2: "Roboto Mono", serif; /*Para body text*/

    /* Importante utilizar estos colores, porque si queremos cambiar algo, lo cambiamos aquí */
    --RedColor: #B83E54;
    --BlackColor: #212121;
    --whiteColor: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* LANDING PAGE / INDEX */


/* CHARACTER SELECTION */


/* MAP SELECTION  */


/* CONFIGURATION */


/* HUD */